@import '../../sass/base/BaseStyles.scss';

.wrapper{
    display: none;
    @include for-size(tablet){
    display:block;
    
}
}

.mobile_wrapper{
       display: block;
    @include for-size(tablet){
    display:none;
    
}
}