@import './BaseStyles.scss';

body {
  color: $primary-text-color;
  background: $primary-bg-color;
  font-family: $primary-font;
  margin: 0;
}
//    Style none
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}
