@import './BaseStyles.scss';
body {
  color: $primary-text-color;
  background: $primary-bg-color;
  font-family: $primary-font;
  margin: 0;
  @include for-size(tablet) {
    // width: 656px;
    // flex-direction: row;
    // padding: 80px 80px 80px 32px;
    background-image: url('../../images/bgTablet_Home.png');
    background-repeat: no-repeat;
    background-position: right 19pc;
    background-size: 56.8pc;
  }
  @include for-size(desktop) {
    // width: 288px;
    // padding: 292px 123px 166px 106px;
    // flex-direction: column;
    background-image: url('../../images/bgDesctop.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 70pc;
  }
}
//    Style none
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

//    Container
// .container {
//   padding: 0 15px;
//   margin: 0 auto;
//   min-width: 320px;
//   @media screen and (min-width: 480px) {
//     & {
//       width: 480px;
//       // margin: 0 auto;
//     }
//   }

//   @media screen and (min-width: 768px) {
//     & {
//       width: 768px;
//     }
//   }
//   @media screen and (min-width: 1200px) {
//     & {
//       width: 1200px;
//     }
//   }
// }
