// font
$font-family-Arimo: 'Arimo', sans-serif;
$font-family-Montserrat: 'Montserrat', sans-serif;

// color
$background-color: #E5E5E5;
$site_bar-background-color: #F0F1F3;
$primary-color: #212121;
$primary-white-color: #ffffff;
$primary-text-color: #9B9FAA;
$primary-button-color: #FC842D;
$shadow-button: 0px 4px 10px rgba(252, 132, 45, 0.5)


