@import '../../sass/base/BaseStyles.scss';

.listItem {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  background-color: transparent;

  @include for-size(tablet) {
    padding-top: 16px;
  }
  @include for-size(desktop) {
    padding-top: 16px;
  }
}

.listItem_title {
  display: block;
  margin-right: 8px;
  width: 55%;
  padding: 0 0 8px 0;
  border-bottom: 1px solid $light-gray;
  text-align: left;
  background-color: transparent;
  color: $primary-text-color;
  @include font(400, 14px, 17px, 'Verdana', 0.04em);

  @include for-size(tablet) {
    margin-right: 22px;
    padding: 0 0 20px 0;
  }
  @include for-size(desktop) {
    margin-right: 48px;
  }
}

.mark {
  @include font(400, 10px, 13px, 'Verdana', 0.04em);

  @include for-size(tablet) {
    @include font(400, 14px, 17px, 'Verdana', 0.04em);
  }
}

.listItem_weight {
  display: block;
  margin-right: 8px;
  width: 15%;
  padding: 0 0 8px 0;
  border-bottom: 1px solid $light-gray;
  text-align: center;
  background-color: transparent;
  color: $primary-text-color;
  @include font(400, 14px, 17px, 'Verdana', 0.04em);

  @include for-size(tablet) {
    margin-right: 46px;
    width: 107px;
    padding: 0 0 20px 0;
    text-align: right;
  }
  @include for-size(desktop) {
    margin-right: 32px;
  }
}

.listItem_kcal {
  display: block;
  margin-right: 17px;
  width: 20%;
  padding: 0 0 8px 0;
  border-bottom: 1px solid $light-gray;
  text-align: center;
  background-color: transparent;
  color: $primary-text-color;
  @include font(400, 14px, 17px, 'Verdana', 0.04em);

  @include for-size(tablet) {
    margin-right: 32px;
    width: 107px;
    padding: 0 0 8px 0;
    text-align: right;
  }
  @include for-size(desktop) {
    margin-right: 32px;
  }
}

.listItem_btn {
  display: block;
  height: 10px;
  width: 10px;
  align-self: center;
  margin-right: 14px;
  background-color: transparent;
  background-image: url(../../icons/deleteBtn.png);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  border: none;
  padding: 0;
  cursor: pointer;

  transition: $cubic;

  &:hover {
    transform: scale(1.2);
  }

  @include for-size(tablet) {
    height: 12px;
    width: 12px;
    background-size: 12px 12px;
  }
}
