@import '../../sass/base/BaseStyles.scss';


.productList_container{
    position: relative;
    width: 300px;
    margin: auto;
    @include for-size(tablet){
        margin: 0;
        max-width: 624px;
    }
    
}

.productList{
display: flex;
flex-direction: column;
width: 300px;
margin: auto;
background-color: $primary-bg-color;
color: $primary-text-color;
max-height: 300px;
padding-bottom: 40px;
 @include font(400, 14px, 17px, 'Verdana', 0.04em);
  
    overflow-y: scroll;
    &::-webkit-scrollbar{
    width: 6px;
	background-color: $secondary-bg-color;}
    &::-webkit-scrollbar-track{
	background-color: $secondary-bg-color;}
    &::-webkit-scrollbar-thumb {
  background: $decorative-color;
}

@include for-size(tablet){
    width: 610px;
    
}
    @include for-size(desktop){
    width: 623px;
   }
}



.productList_downboard{
    position: absolute;
    bottom: 0;
    width: 274px;
    height:44px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, $primary-bg-color 42.19%);
@include for-size(mobile){
    width: 274px;
}
@include for-size(tablet){
    width: 603px;
    height: 52px;
    
}
    @include for-size(desktop){
    width: 618px;
   }
}
