@import '../../sass/base/BaseStyles.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin: 0 auto;
  padding: 40px 15px 84px;
  background-color: $secondary-bg-color;
  @include for-size(tablet) {
    width: 656px;
    flex-direction: row;
    padding: 80px 80px 80px 32px;
    background-image: url('../../resources/images/bgTablet_Sidebar.png');
    background-repeat: no-repeat;
    background-position: 400px;
  }
  @include for-size(desktop) {
    width: 288px;
    margin: 0;
    padding-top: 217px;
    flex-direction: column;
    background-image: url('../../resources/images/bgDesctop_Sidebar.png');
    background-repeat: no-repeat;
    background-position: 12px 36px;
  }
}

.summaryForDate {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: inherit;
  height: auto;
  @include for-size(tablet) {
    margin-right: 80px;
    max-width: 369px;
  }

  @include for-size(desktop) {
    display: flex;

    margin-bottom: 60px;
    width: inherit;
    height: 166px;
  }
}

.foodNotRecommend {
  display: flex;
  flex-direction: column;

  width: inherit;
  @include for-size(tablet) {
    max-width: 369px;
    margin-left: 79px;
  }
  @include for-size(desktop) {
    margin-left: 0;
  }
}

.title {
  display: flex;
  max-width: 350px;
  width: inherit;
  text-align: left;
  margin-bottom: 20px;
  height: 20px;
  @include font(700, 14px, 17px, $primary-font, 0.04em);
  font-style: normal;
  color: $primary-text-color;

  @include for-size(tablet) {
    margin-bottom: 40px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  width: inherit;
  @include for-size(tablet) {
    height: 112px;
    margin-bottom: 0;
    justify-content: space-between;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.text {
  display: flex;
  @include font(400, 14px, 17px, $primary-font, 0.04em);
  font-style: normal;
  color: $secondary-text-color;
}
