@import '../../sass/base/BaseStyles.scss';

.calculator {
  min-width: 280px;

  // margin: 0 auto;
  @include for-size(tablet) {
    // margin: 0 auto;
    // display: flex;
    // padding-top: 0px;
    min-width: 704px;
  }
  // @include for-size(desktop) {
  //   // margin: 0 auto;
  //   // display: flex;
  //   // padding-top: 0px;
  //   min-width: 1190px;
  // }
}

.container {
  padding-top: 32px;
  @include for-size(tablet) {
    padding-top: 100px;
  }
  @include for-size(desktop) {
    padding-top: 113px;
  }
}

.container__active {
  padding-top: 72px;
  @include for-size(tablet) {
    padding-top: 100px;
  }
  @include for-size(desktop) {
    padding-top: 113px;
  }
  // @include for-size(tablet) {
  //   padding: 100px 76px 74px 87px;
  // }
  // @include for-size(desktop) {
  //   min-width: 630px;
  //   // padding-left: 0;
  //   // padding-right: 0px;
  // }
}

.sideBar {
  display: none;
}

.sideBar__active {
  background-color: $accent-text-color;
  width: 320px;
  margin: 0 auto;
}

.title {
  margin-bottom: 36px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $primary-text-color;
  // width: 280px;
  @include for-size(tablet) {
    font-size: 30px;
    line-height: 36px;
    width: 570px;
    max-height: 85px;
  }
  @include for-size(desktop) {
    font-size: 34px;
    line-height: 41px;
    padding: 0px;
    width: 608px;
  }
}

.formContainer {
  // width: 240px;
  // margin-right: 0;
  @include for-size(tablet) {
    width: 520px;
    // background-color: aqua;
    // padding-bottom: 0px;
  }
}
.formWrapper {
  @include for-size(tablet) {
    display: flex;
    margin-bottom: 60px;
  }
}
.inputCont {
  @include for-size(tablet) {
    width: 50%;
  }
}

.formInput {
  display: block;
  margin-top: 32px;
  left: 0;
  top: -28px;
  padding: 0;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: $secondary-text-color;

  transition: 0.3s;
}

.field {
  // width: 240px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $light-gray;
}
// .fieldError {
//   color: red;
//   margin-top: 5px;
//   margin-bottom: 5px;
// }

.fieldErrorNew {
  position: absolute;
  z-index: 100;
  // &:last-child {
  //   // top: 21.5pc;
  //   top: 35.5%;
  // }
}
.fieldErrorNewLast {
  // @extend fieldErrorNew{
  @include for-size(tablet) {
    top: 36%;
  }
  @include for-size(desktop) {
    top: 49%;
  }
}
.notificationF {
  width: 100%;
  padding-top: 2px;
  @include font(400, 12px, 17px, 'Verdana', 0.04em);
  text-align: left;
  color: $accent-color;

  @include for-size(tablet) {
    padding-top: 8px;
  }
}

.radioWrapper {
  @include for-size(tablet) {
    width: 50%;
    margin-left: 31px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
}

.radio {
  max-width: 240px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 10px;
  @include for-size(tablet) {
    margin-top: 18px;
  }
}

// .formRadio {
//   display: block;
//   left: 0;
//   top: -28px;
//   padding: 0;
//   color: $secondary-text-color;
// }

.button {
  @include orangeBtn;
  width: 210px;
  margin: 0 auto;

  @include for-size(tablet) {
    margin: 0;
  }
}

@include for-size(tablet) {
  .sideBar__active {
    width: 768px;
  }

  .radioWrapper {
    margin-left: 31px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
}

@include for-size(desktop) {
  .form {
    margin: 0;
  }
}

input[type='radio'] + span {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 10px;
  margin-right: 15px;
  font-size: 14px;
}

input[type='radio'] ~ span:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -17.5px;
  left: -1px;
  border: 1px solid $secondary-text-color;
  background-color: $accent-text-color;
  border-radius: 50%;
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked ~ span:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0.1pc;
  left: 0.3pc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $accent-color;
}

small {
  color: #aaa;
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 0.04em;
}

input[type='radio']:checked ~ small {
  color: $accent-color;
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 0.04em;
}
