@import '../../sass/base/BaseStyles.scss';

.calculator {
  min-width: 280px;

  @include for-size(tablet) {
    min-width: 704px;
  }
}

.container {
  padding-top: 32px;
  @include for-size(tablet) {
    padding-top: 100px;
  }
  @include for-size(desktop) {
    padding-top: 113px;
  }
}

.container__active {
  padding-top: 72px;
  margin-bottom: 41px;
  @include for-size(tablet) {
    margin-bottom: 48px;
    padding-top: 100px;
  }
  @include for-size(desktop) {
    padding-top: 113px;
  }
}

.sideBarContainer {
  position: absolute;
  width: 100%;
  // height: 35.4vh;
  left: 0;
  background-color: $secondary-bg-color;
  @include for-size(mobile) {
    @media (min-height: 1038px) {
      bottom: 0;
      top: auto;
    }
  }
  @include for-size(tablet) {
    height: fit-content;
    // height: 32.6vh;
    // bottom: 0;
    top: 653px;
    background-image: url('../../images/bgTablet_Sidebar.png');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    @media (min-height: 980px) {
      bottom: 0;
      top: auto;
    }
  }

  @include for-size(desktop) {
    left: auto;
    right: 0;
    top: 0;
    width: 517px;
    height: 100vh;
    background-image: url('../../images/bgDesctop_Sidebar.png');
  }
}

.sideBarBox {
  position: relative;
  padding: 40px 20px;

  @include for-size(tablet) {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 80px 32px;
  }

  @include for-size(desktop) {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 80px 106px;
    flex-direction: column;
    justify-content: center;
  }
}

.title {
  margin-bottom: 36px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $primary-text-color;

  @include for-size(tablet) {
    font-size: 30px;
    line-height: 36px;
    width: 570px;
    max-height: 85px;
  }
  @include for-size(desktop) {
    font-size: 34px;
    line-height: 41px;
    padding: 0px;
    width: 608px;
  }
}

.formContainer {
  @include for-size(tablet) {
    width: 520px;
  }
}
.formWrapper {
  @include for-size(tablet) {
    display: flex;
    margin-bottom: 60px;
  }
}
.inputCont {
  @include for-size(tablet) {
    width: 50%;
  }
}

.formInput {
  display: block;
  margin-top: 32px;
  left: 0;
  top: -28px;
  padding: 0;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: $secondary-text-color;

  transition: 0.3s;
}

.field {
  width: 100%;
  border: 0;
  border-bottom: 1px solid $light-gray;
}

.fieldErrorNew {
  position: absolute;
  z-index: 100;
}
.fieldErrorNewLast {
  @include for-size(tablet) {
    top: 36%;
  }
  @include for-size(desktop) {
    top: 49%;
  }
}
.notificationF {
  width: 100%;
  padding-top: 2px;
  @include font(400, 12px, 17px, 'Verdana', 0.04em);
  text-align: left;
  color: $accent-color;

  @include for-size(tablet) {
    padding-top: 8px;
  }
}

.radioWrapper {
  @include for-size(tablet) {
    width: 50%;
    margin-left: 31px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
}

.radio {
  max-width: 240px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 10px;
  @include for-size(tablet) {
    margin-top: 18px;
  }
}

.button {
  @include orangeBtn;
  width: 210px;
  margin: 0 auto;

  @include for-size(tablet) {
    margin: 0;
  }
}

@include for-size(tablet) {
  .sideBar__active {
    width: 768px;
  }

  .radioWrapper {
    margin-left: 31px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
}

@include for-size(desktop) {
  .form {
    margin: 0;
  }
}

input[type='radio'] + span {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 10px;
  margin-right: 15px;
  font-size: 14px;
}

input[type='radio'] ~ span:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -17.5px;
  left: -1px;
  border: 1px solid $secondary-text-color;
  background-color: $accent-text-color;
  border-radius: 50%;
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked ~ span:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0.1pc;
  left: 0.3pc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $accent-color;
}

small {
  color: #aaa;
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 0.04em;
}

input[type='radio']:checked ~ small {
  color: $accent-color;
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 0.04em;
}
