@import '../../sass/base/BaseStyles.scss';

.burgerMenu {
  transition: $cubic;
  background-color: $decorative-color;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 80px;
  left: 0;
  transform: translateX(-100%);
  z-index: 999;

  @include for-size(tablet) {
    top: 65px;
    padding-top: 108px;
  }
}

.burgerMenu.active {
  transform: translateX(0);
  transition: $cubic;
  z-index: 100;
}

.link {
  font-size: 18px;
  margin-bottom: 35px;
  text-decoration: none;
  color: $secondary-text-color;

  @include for-size(tablet) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.activeLink {
  color: $accent-text-color;
}
