
@import "../../sass/base/BaseStyles.scss";

.diaryFormButton{
    height: 48px;
     width: 48px;
     display: block;
     align-self: center;
     margin-top: 60px;
    background-color: $accent-color;
    border: 2px solid transparent;
    background-image: url(../../icons/addBtnIcon.png);
     background-repeat: no-repeat;
     background-position: 15px 15px;
     background-size: 13.5px 13.5px;
     border-radius: 50%;
    
    cursor: pointer;
    transition: $cubic;

    &:hover, &:focus {
        border: 2px solid $accent-color;
        box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    }
    @include for-size(tablet){
        display: none;
    }
}
